//Header
.header {
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;

  }

  .navigation-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 450px;
    background: $yellow;
    box-shadow: -5px -5px 0px 0px rgba(220, 177, 5, 0.5),
    -8px -8px 0px 0px rgba(220, 177, 5, 0.25);

    li {
      &:first-child {
        a {
          border-left: none;
        }
      }
    }
  }
  .nav-item {
    font-family: 'Segoe WP', sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    color: $orange;
    align-items: center;
    display: flex;
    padding: 11px 14px;
    border-left: 1px solid #dcb105;
    transition: all .3s;
    &:hover {
      color: #BE9305;
      img {
        transform: translateY(-2px);
      }
    }

    img {
      padding-right: 9px;
      transition: all .3s;
    }
  }
}