//Breakpoint
$xs: "only screen and (max-width : 576px)";
$sm: "only screen and (max-width : 767px)";
$md: "only screen and (max-width : 992px)";
$lg: "only screen and (max-width : 1200px)";
$header-fix: "only screen and (max-width : 1280px)";
$xl: "only screen and (max-width : 1400px)";
$xll: "only screen and (max-width : 1680px)";

//Colors
$black: #000;
$white: #fff;
$orange: #9b7d08;
$yellow: #f5c506;

//Alpha colors